
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* main code */
h1{
    text-align: center;
    padding-top: 3rem;
}

ul{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}